.gridWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    align-items: stretch;
    padding: 10px 0;
}

.personWrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    gap: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: greenyellow;
    justify-items: center;
}

.personWrapper:hover{
    transform: translateY(5px);
    cursor: pointer;
}

.personInfo{

}

.addWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.add{
    display: block;
    padding: 10px;
    font-weight: 700;
    font-size: 22px;
    background-color: transparent;
    border: greenyellow 2px solid;
    outline: none;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}