.container{
    max-width: 1440px;
    padding: 0 10px;
    margin-inline: auto;
}

.container_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    background-color: greenyellow;
    padding: 20px;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
}

.sign-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

li{
    font-weight: 700;
    font-size: 20px;
}

li:hover{
    transform: translateY(5px);
}

.active{
    color: blueviolet;
}

.sign-out{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 5px;
    border: 2px black solid;
}