.countryWrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    gap: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: greenyellow;
    justify-items: center;
    margin-top: 10px;
}

.countryWrapper:hover{
    transform: translateY(5px);
    cursor: pointer;
}